.libre {
	border: 15px solid pink !important;

}

.cuadro-rojo {
	background-color: #900038 !important;
	color: #333;
}
.cuadro-amarillo {
	background-color: #e9f333;
	color: #333;
}

.pclist ul {
	list-style: none;
}

.pclist ul li {
	position:relative;
	float:left;
	width: 180px;
	
	-moz-box-sizing: border-box;
         box-sizing: border-box;
    margin: 10px;
}

.cuadro {
    border: 15px solid #5ed96c;
    border-radius: 60px 0px 0px 0px;
    font-size: 1.2em;

	-webkit-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.75);
	-moz-box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.75);
	box-shadow: 0px 0px 15px 4px rgba(0,0,0,0.75);
}

.detalle {
	
	color: #eee;
	width:100%;
	height: 113px;
	position:relative;
	opacity: 0.8;
	margin-top: -68px;
}

.del {
	float:right;
	z-index: 999;

	padding: 20px;
	border-radius: 0 0 0 60px ;
	font-size: 1.5em;
}

.cuadro .pcid {
	font-size: 6em;
	font-family: 'Titillium Web', 'sans-serif';
	text-shadow: 3px 3px 3px rgba(110,120,130,0.75);  
	font-weight: 900;
	padding: 15px 0 10px 15px ;
	margin-top:-40px;
	margin-bottom: -30px;
}

.cuadro .tiempo,
.cuadro .tiempo-inicio {
	font-size: 1.4em;
	text-align: center;
}

.cuadro .tiempo-inicio {
	opacity:0;
}
.cuadro .tiempo,
.cuadro:hover .tiempo-inicio {
	background-color: #333;
	opacity:1;
}

.cuadro .tiempo-quedan,
.cuadro .tiempo-van {
	position: absolute;
	left: 0px;
	top:68px;
	background-color: #e3a667;
	width: 50%;
	font-size: 0.8em;
	text-align: center;
	color: black;
}
.cuadro .tiempo-van {
	left: 50%;
	background-color: #4bad56;
}


.cuadro .tiempo-quedan span,
.cuadro .tiempo-van span{
	position: relative;
	display: block;
	
	font-size: 1.5em;
	width: 100%;
	top:3px;
}

