<div ng-include="'components/navbar/navbar.html'"></div>
<header class="hero-unit" id="banner">
  <div class="container">
	<h3>Server Time:</h3>
	<h1> {{servertime|date:'dd MMM yyyy, h:mm:ss a'}}</h1>
  </div>
</header>

{{test}}

<div class="row">
	<div class="col-md-12 alert alert-danger" role="alert">
		<h1>
		{{listaLlamar}}
		</h1>
	</div>
	<div class="col-md-6 panel panel-info">
		<div class="panel-heading">PC's Disponibles</div>
		<div class="panel-body">
			<button ng-repeat="freePC in pcDisponibles" class="btn btn-lg btn-info" ng-click="selectPC(freePC)">{{freePC}}</button>
		</div>
		</h1>
	</div>
	<div class="col-md-6 panel panel-success" ng-show="isLoggedIn()">
		<div class="panel-heading">Opciones</div>
		<div class="panel-body">
			<button class="btn btn-lg btn-sucess" ng-click="creaPC(15,false)">+15</button>
			<button class="btn btn-lg btn-sucess" ng-click="creaPC(20,false)">+20</button>
			<button class="btn btn-lg btn-sucess" ng-click="creaPC(30,false)">+30</button>
			<button class="btn btn-lg btn-sucess" ng-click="creaPC(40,false)">+40</button>
			<button class="btn btn-lg btn-sucess" ng-click="creaPC(60,false)">+60</button>
			<button class="btn btn-lg btn-sucess" ng-click="creaPC(0,true)">Libre</button>
		</div>
		</h1>
	</div>
</div>	
<div class="row">
	<div class="col-md-3">
		<h1 class="alert alert-success" role="alert">{{selectedPC}}</h1>
		<form ng-submit="savePc(pc)" ng-show="isLoggedIn()">
			<p>
				<label for="id">PC (id)</label>
				<input type="text" id="pc" ng-model="pc.pcid" required>
			</p>
			<p>
				<label for="id">Tiempo (en minutos)</label>
				<input type="text" id="tiempo" ng-model="pc.tiempo" required>
			</p>
			<p>
				<label for="id">Libre</label>
				<input type="checkbox" id="libre" ng-model="pc.libre">
			</p>
			<p>
				<label for="id">Tiempo Inicio</label>
				<uib-timepicker ng-change="timechanged()" ng-model="pc.tiempoinicio" show-meridian="ismeridian"></uib-timepicker>
				<button ng-click="refreshTime()">Refresh time</button>
				locked <input type="checkbox" ng-model="timeChanged" data-toggle="toggle" data-onstyle="info" data-on="Auto-Refresh" data-off="Refresh Off">
			</p>
			<p>
				<label for="id">Precio</label>
				<input type="text" id="precio" ng-model="pc.precio">
			</p>
			<p>
				<label for="id">nombre</label>
				<input type="text" id="nombre" ng-model="pc.nombre">
			</p>
			<p>
				<label for="id">notas</label>
				<textarea type="text" cols="30" rows="5" id="notas" ng-model="pc.notas">
				</textarea>
			</p>


			<button type="submit" value="submit">Save</button>			
		</form>
	</div>
	<div class="col-md-8">
		<div class="pclist">
			<ul>
				<li class="" ng-repeat="pca in pclist | orderBy:orderPCID">
					<button class="del btn btn-danger" ng-click="deletePc(pca)" ng-show="isLoggedIn()">X</button>
					<div class="cuadro" ng-class="{'cuadro-amarillo':faltaPocoTiempo(pca),'cuadro-rojo':terminoTiempo(pca), 'libre':pca.libre}" ng-click="edit(pca)">
						
						<div class="pcid">{{pca.pcid}}</div>
						<div class="detalle">
							<div class="tiempo-inicio"><span>{{pca.tiempoinicio|date:'h:mm:ss a'}}</span></div>
							<div class="tiempo">Tiempo <span>{{pca.tiempo}}</span></div>
							<div class="tiempo-quedan">Quedan <span  ng-hide="esLibre(pca)">{{pca.quedan }}</span></div>
							<div class="tiempo-van">Van <span>{{pca.van }}</span></div>
						</div>
					</div>
					
				</li>
			</ul>
		</div>
	</div>
</div>

<audio id="beep"  controls="controls" src="/assets/boing.mp3"></audio>


<script type="text/ng-template" id="confirma.html">
    <div class="modal-header">
        <h4 class="modal-title">Confirma</h4>
    </div>
    <div class="modal-body">
        <h3>Desea borrar?</h3>
    </div>
    <div class="modal-footer">
        <button class="btn btn-primary" type="button" ng-click="ok()">OK</button>
        <button class="btn btn-warning" type="button" ng-click="cancel()">Cancela</button>
    </div>
</script>